1) SELECT salary FROM ( SELECT WORKER.salary, ROW_NUMBER() OVER (ORDER BY salary DESC) rn FROM Employee e ) WHERE rn = 5

2) SELECT NAME,SALARY,COUNT(SALARY) FROM WORKER 
WHERE SALARY IN (SELECT SALARY FROM WORKER GROUP BY SALARY HAVING COUNT(SALARY)>1) 
GROUP BY NAME, SALARY