1) SELECT LEFT(FIRST_NAME,3) FROM WORKER

2) SELECT CHARINDEX('a', 'Amitabh')
    FROM cus_table

3) SELECT FIRST_NAME,DEPARTMENT, MAX(SALARY)
    FROM WORKER
    GROUP BY FIRST_NAME,DEPARTMENT