1)SELECT REPLACE(FIRST_NAME,'a','A'
  FROM WORKER

2)SELECT * 
  FROM WORKER
  ORDER BY FIRST_NAME asc DEPARTMENT desc

3)SELECT FIRST_NAME
  FROM WORKER
  WHERE SALARY=(SELECT MAX(SALARY) FROM WORKER)